
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}
.logo {
    color: #f7f7f2;
    font-size: 1.2rem;
    font-weight: 600;
}

.navmenu {
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.navmenu a {
    display: inline-block;
    margin: 0 1.5rem;
    color: #1e1e24;
    font-weight: 500;
    transition: all 0.6s;
    padding-top: 15px;
    padding-bottom: 15px;
    
}


.navmenu a:hover {
    transform: translateY(-5px);
}

body {
    background-image: linear-gradient(
        to bottom right,
        #403f44, #1e1b32
);
}

.img {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.main {
    color: white;
    padding-left: 625px;
    padding-top: 5px;
}

.sup {
    color: white;
    padding-left: 1650px;
    padding-top: 60px;
}
